body {
  
  font-family: sans-serif;
  
}
/* Navbar */
    .navbar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 15px 30px;
      background-color: #fff;
      
      
     
    }
    .nav-links {
      display: flex;
      gap: 30px;
      
    }
    .nav-links a {
      text-decoration: none;
      color: #333;
      font-size: 12px;
      
    }
    .cart {
      display: flex;
      align-items: center;
      font-size: 16px;
    }

    .cart-icon {
      margin-right: 5px;
      width: 20px;
      
    }
    .home{
    font-weight: 900;
    }
    .logo{
        width: 120px;
    }


    /* <!-- Banner-Section --> */
 
    .banner {
      display: flex;
      gap: 100px;
      justify-content: center;
      align-items: center;
      padding: 50px 30px;
      margin: 50px 160px;
      
    }

    .banner-text {
      flex: 1;
      max-width: 500px;
    }

    .banner-text h1 {
      font-size: 60px;
      margin-bottom: 20px;
      
    }

    .banner-text span {
      color: #f15a29;
    }

    .banner-text p {
      color: #555;
      font-size: 30px;
      
    }

    .banner-img {
      
      text-align: center;
      width: 500px;
      height: 400px;
    }
     /* Plants Section */
    .plants-section {
      padding: 40px 20px;
      text-align: center;
      background-color: #f9f9f9;
      margin: 50px 160px;
    }

    .title-P h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    .title-P h2 span {
      color: #f15a29;
    }

    .title-P p {
      max-width: 600px;
      margin: 0 auto 40px;
      color: #666;
    }

    .plant-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      justify-items: center;
      max-width: 1200px;
      margin: 0 auto;
    }

    .plant-item {
      background-color: #fff;
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
      text-align: center;
    }

    .plant-item img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .plant-name {
      font-weight: bold;
      margin: 10px 0 5px;
    }

    .plant-price {
      color: #333;
      margin-bottom: 10px;
    }

    .add-to-cart {
      background-color: #f15a29;
      color: white;
      padding: 8px 15px;
      border: none;
      font-size: 0.9rem;
      width: 100%;
    }

  
/* Lover-Section */

 .lover-section{
 display: flex;
 gap: 300px;
 align-items: center;
 justify-content: center;
  }

     .trusted-badge {
      position: relative;
      width: 320px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      border-radius: 10px;
      
    }

    .trusted-badge img.main-image {
      width: 540px;
      height: 590px;
      
    }

    .badge {
      position: absolute;
      top: -120px;
      right: -150px;
      width: 100px;
      z-index: 1;
    }

    .badge img {
      width: 280px;
      height: 280px;
    }
 .right-section {
  
  padding: 40px;
  display: flex;
  flex-direction: column;
  
            
  }
.right-section h1 {
  font-size: 50px;
  color: #333;
  margin-bottom: 15px;
  }
.right-section ul {
   list-style: disc;
   padding-left: 30px;
            
  }
.right-section li {
   margin-bottom: 15px;
   color: #555;
   line-height: 1.6;
   font-size: 20px;
  } 
 /* <!--   Deal Section --> */
.deals{
    margin: 50px 160px;
}
.deals h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 2.5rem;
}

.highlight {
  color: orange;
}

.deals p {
  text-align: center;
  max-width: 700px;
  margin: 10px auto 30px;
}

.deal-grid {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 padding: 20px;
 align-items: center;
}

.deal-card {
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  
  
}
.small{
    margin: 10px;
    width: 700px;
}

.deal-card a {
  color: white;
  font-size: 1.5rem;
  text-decoration: underline;
}

.deal-card.large {
  
  height: 350px;

}

.deal-card.small {
  
  height: 170px;
} 
/* Subscribe-section */
.subscribe {
  background-image: url(assets/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  padding: 60px 40px;
  color: white;
  text-align: center;
}

.subscribe-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.subscribe-content form {
  display: flex;
  justify-content: center;
  max-width: 430px;
  margin: auto;
}

.subscribe-content input {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-content button {
  background: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0 4px 4px 0;
  
} 
/* Footer section */

 footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: white;
  padding: 40px 20px;
  border-top: 1px solid #ccc;
}

.footer-left {
  max-width: 600px;
}

.footer-left img {
  height: 100px;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  gap: 70px;
  font-size: 25px;
 
}

.footer-links p {
  margin: 15px 0;
}

.footer-icons {
  display: flex;
  gap: 10px;
  
}

.footer-icons img {
  width: 35px;
  height: 30px;
  margin: 20px;
}
footer{
    margin: 50px 160px;
} 

  /*  mobile-Responsive */
  @media screen and (max-width: 576px) {

    .nav-links a{
      display: none;
    }
    .banner{
      flex-direction: column-reverse;
    }
    .plants-section{
      flex-direction: column;
      margin: 0 auto;
    }
    .plant-grid {
        grid-template-columns: repeat(2, 1fr);
      }
      
      
    .deals{
      margin: 0 auto;
    }
    .deal-grid{
      grid-template-columns: repeat(1, 1fr);
    }
    .deal-card.large{
      height: 180px;
      width: 350px;
      padding: 10px 10px;
    }
    .deal-card.small{
       height: 180px;
      width: 350px;
      
    }
    .deals p{
      width: 400px;
      margin: 0 auto;
    }
    footer{
      flex-direction: column;
      padding: 0;
    }
    .footer-links{
      flex-direction: column;
    }
  }
